{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js"> 
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="{% static 'img/icons/icon.PNG'%}" />
    <title>Centro canino de servicios integrales DHS</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
	<!--<script src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js'%}"></script> -->
	
    <!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link href="{% static 'css/custom.css'%}" rel="stylesheet">
	
	<!-- Custom Fonts & Icons -->
	<link rel="stylesheet" href="{% static 'css/icomoon-social.css'%}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
	<!--<script src="//use.edgefonts.net/bebas-neue.js"></script>-->

</head>

<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
	<header class="navbar navbar-inverse navbar-fixed-top" role="banner" style="float:right;">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'main:index'%}"><img src="{% static 'img/logo.png'%}" alt="Basica"></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="{% url 'main:index'%}">Inicio</a></li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">Acudiente<i class="icon-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'acudiente:registrar_acudiente'%}">Registrar</a></li>
							<li><a href="{% url 'acudiente:listar_acudiente'%}">Listar</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">Perro<i class="icon-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'perro:registrar_perro'%}">Registrar</a></li>
							<li><a href="{% url 'perro:listar_perro'%}">Listar</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">Reservas<i class="icon-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'reserva:registrar_reserva'%}">Registrar</a></li>
							<li><a href="{% url 'reserva:listar_reserva'%}">Listar</a></li>
						</ul>
					</li>
					<li class="active"><a href="{% url 'logout' %}">Salir</a></li>
				</ul>
			</div>
		</div>
	</header><!--/header-->	

	<div class="notificaciones">
		<table id="tdieta">
		{% block notificaciones %} 
		{% if perros %}
		{% for perro in perros%}
				{% for iterador in perro.horario_dieta.all %}
				
				<tr  class="{{perro.id}}">
					<td> Recuerde que {{perro.nombre}} se alimenta de {{ iterador.id_alimentacion.nombre }} - {{ iterador.id_dia.nombre }} </td>
					<tr><td><button class="btn btn-primary {{perro.id}}" onClick="atender('{{perro.id}}')">Atender</button></td></tr>
				</tr>
                {% endfor %}
		{% endfor %}
		{% endif %}
		
		</table>

		<table id="tepocacelo">
			<!-- se agrega las epocas de celo de las perras y se colocan en un parrafo al que se le hará split-->
		<p id="epocacelo" style ="display:none;">{%for perro in perros%}{% if perro.epoca_celo_aproximada %}{{perro.epoca_celo_aproximada}} - {{perro.nombre}} ;{% endif %}{% endfor %}</p>
		</table>
		{% endblock %}
				
	</div>
		 
	<div class="pagina">
	
		<section id="main-slider" >
			<div class="carousel slide">
				<ol class="carousel-indicators">
					<li data-target="#main-slider" data-slide-to="0" class="active"></li>
					<li data-target="#main-slider" data-slide-to="1"></li>
					<li data-target="#main-slider" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active" style="background-image: url(img/slides/1.jpg)">
						<div class="container">
							<div class="row">
								<div class="col-sm-12">
									<div class="carousel-content centered">
										<h2 class="animation animated-item-1">Welcome to DHS! </h2>
										<p class="animation animated-item-2">Sed mattis enim in nulla blandit tincidunt. Phasellus vel sem convallis, mattis est id, interdum augue. Integer luctus massa in arcu euismod venenatis. </p>
									</div>
								</div>
							</div>
						</div>
					</div><!--/.item-->
					<div class="item" style="background-image: url(img/slides/2.jpg)">
						<div class="container">
							<div class="row">
								<div class="col-sm-12">
									<div class="carousel-content center centered">
										<h2 class="animation animated-item-1">Powerful and Responsive HTML Template</h2>
										<p class="animation animated-item-2">Phasellus adipiscing felis a dictum dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at ligula risus. </p>
										<br>
										<a class="btn btn-md animation animated-item-3" href="#">Learn More</a>
									</div>
								</div>
							</div>
						</div>
					</div><!--/.item-->
					<div class="item" style="background-image: url(img/slides/3.jpg)">
						<div class="container">
							<div class="row">
								<div class="col-sm-12">
									<div class="carousel-content centered">
										<h2 class="animation animated-item-1">Works Seamlessly Well on All Devices</h2>
										<p class="animation animated-item-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae euismod lacus. Maecenas in tempor lectus. Nam mattis, odio ut dapibus ornare, libero. </p>
										<br>
										<a class="btn btn-md animation animated-item-3" href="#">Learn More</a>
									</div>
								</div>
							</div>
						</div>
					</div><!--/.item-->
				</div><!--/.carousel-inner-->
			</div><!--/.carousel-->
			<a class="prev hidden-xs" href="#main-slider" data-slide="prev">
				<i class="icon-angle-left"></i>
			</a>
			<a class="next hidden-xs" href="#main-slider" data-slide="next">
				<i class="icon-angle-right"></i>
			</a>
		</section><!--/#main-slider-->


		<!-- Footer -->
		<div class="footer">
			<div class="container">	
				<div class="row">
				
					<div class="col-footer col-md-4 col-xs-6">
						<h3>Contactenos:</h3>
						<p class="contact-us-details">
							<b>Direccion:</b> <br/>
							<b>Telefono:</b> <br/>
							<b>Email:</b> 
						</p>
					</div>				
					<div class="col-footer col-md-4 col-xs-6">
						<h3>Nuestras redes sociales</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
						<div>
							<!--
							<img src="img/icons/facebook.png" width="32" alt="Facebook">
							<img src="img/icons/twitter.png" width="32" alt="Twitter">
							<img src="img/icons/linkedin.png" width="32" alt="LinkedIn">
							<img src="img/icons/rss.png" width="32" alt="RSS Feed">
							-->
						</div>
					</div>
					<div class="col-footer col-md-4 col-xs-6">
						<h3>Acerca de nuestra compañía</h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
					</div>

				</div>
				<div class="row">
					<div class="col-md-12">
						<!--<div class="footer-copyright">&copy; 2014 <a href="http://www.vactualart.com/portfolio-item/basica-a-free-html5-template/">Basica</a> Bootstrap HTML Template. By <a href="http://www.vactualart.com">Vactual Art</a>.</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
		<script src="{% static 'js/jquery-1.12.4.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
		<script>
			var dia = new Date(),
            hora = dia.getHours(),
            minuto = dia.getMinutes();
			//se valida la hora en que debería mostrar las dietas (entre las 10 am - 12 pm y entre las 4 y 6 pm)
			if ((hora<10) || (hora>12 && hora<16) || (hora>18)){
				$("#tdieta").hide();	
			}
			
			var parrafoEpoca = document.getElementById("epocacelo").innerHTML;
			//Mes
			var split = parrafoEpoca.split(";");
			//nombre
			var nombreSplit = [];
			//fecha 
			var fechaSplit = [];

			for(var i = 0; i < split.length - 1; i++){
				arreglo = split[i].split(" ");
				nombreSplit[i] = arreglo[6];
				var mes = 0;
				switch(arreglo[2]){
					case "Enero": 
						mes = 01; break;
					case "Febrero": 
						mes = 02; break;
					case "Marzo": 
						mes = 03; break;
					case "Abril": 
						mes = 04; break;
					case "Mayo": 
						mes = 05; break;
					case "Junio": 
						mes = 06; break;
					case "Julio": 
						mes = 07; break;
					case "Agosto": 
						mes = 08; break;
					case "Septiembre": 
						mes = 09; break;
					case "Octubre": 
						mes = 10; break;
					case "Noviembre": 
						mes = 11; break;
					case "Diciembre": 
						mes = 12; break;
				}
				fechaSplit[i] = split[i];
				split[i] = mes;
				
			}
			var tabla = document.getElementById("tepocacelo");
			mes = dia.getMonth() + 1;
			for(var i = 0; i < split.length - 1; i++){
				if((split[i]) == (mes + 1)){
					var tr = document.createElement("tr");
					var td = document.createElement("td");
					var trBtn = document.createElement("tr");
					var tdBtn = document.createElement("td");
					var btn = document.createElement("button");
					btn.setAttribute("class","btn btn-primary " + "ec"+i);
					btn.setAttribute("onClick","atender('" + "ec"+i + "')");
					btn.innerHTML = "Atender";
					tr.setAttribute("class","ec"+i);
					td.innerHTML="Recuerde que " + nombreSplit[i] + " entrará a epoca de celo el " + fechaSplit[i] + " estar atento a los suplementos necesarios";
					trBtn.appendChild(tdBtn);
					tdBtn.appendChild(btn);
					tr.appendChild(td);
					tabla.appendChild(tr);
					tabla.appendChild(trBtn);					
				}
			}

			function atender(id){
				$('.'+id+'').remove();	
			}
		</script>	
</body>
</html>
