{% extends 'base/base.html'%}
{% block tipo_accion %}<center>Actualizar datos de la reserva</center>{% endblock %}
{% block content %} 
<div style="width:600px; margin-left:467px;">
    </br>
    <form method='POST'>
            <!-- token de seguridad obligatorio-->
            <!-- se pinte el formulario como parrafo-->
            {% csrf_token %}
            {{ form.as_p }}
            <center><button type="submit" id="boton" style="font-size:20px"> Actualizar </button></center>
    </form>
</div>
{% endblock %}

{% block js %}
    
    <script>
        //configuracion español datepicker
           $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '< Ant',
                nextText: 'Sig >',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
                $.datepicker.setDefaults($.datepicker.regional['es']);
                $(function () {
                   //se pinta el calendario para cada campo
                    $( "#fecha_entrada" ).datepicker({
                        dateFormat: 'dd/mm/yy',
                        changeYear: true,
                        yearRange: "-100:+0",
                    });
                    $( "#fecha_salida" ).datepicker({
                        dateFormat: 'dd/mm/yy',
                        changeYear: true,
                        yearRange: "-100:+0",
                    });
                });


            var entrada, salida;
            function validarFechas(){
                if(entrada.length > 0 && salida.length > 0){
                    entrada = entrada.split("/");
                    salida = salida.split("/");

                    var fechaEntrada = new Date(entrada[2],entrada[1],entrada[0]);
                    var fechaSalida = new Date(salida[2],salida[1],salida[0]);

                    if (fechaEntrada>fechaSalida) {
                        alert("La fecha de entrada no puede ser mayor que la fecha de salida.");
                        window.location.reload();
                    }
                }
            }

            $("#fecha_entrada").change(function(){
                entrada = $("#fecha_entrada").val();
                validarFechas();
            });

            $("#fecha_salida").change(function(){
                salida = $("#fecha_salida").val();
                validarFechas();
            });

            /** Método que calcula la fecha de salida según la fecha de entrada y el tiempo de estadía
                Params: tiempo de estadia y fecha_entrada
            */
            sumaFecha = function(tiempo_estadia, fecha_entrada)
            {
                var sep = fecha_entrada.indexOf('/') != -1 ? '/' : '-';
                var aFecha = fecha_entrada.split(sep);
                var fecha = aFecha[2]+'/'+aFecha[1]+'/'+aFecha[0];
                fecha= new Date(fecha);
                fecha.setDate(fecha.getDate()+parseInt(tiempo_estadia));
                var anio=fecha.getFullYear();
                var mes= fecha.getMonth()+1;
                var dia= fecha.getDate();
                mes = (mes < 10) ? ("0" + mes) : mes;
                dia = (dia < 10) ? ("0" + dia) : dia;
                var fechaFinal = dia+sep+mes+sep+anio;
                return (fechaFinal);
            }
            //cuando el tiempo de estadía cambie, se suma la fecha.
            $("#tiempo_estadia").change(function(){
                if($("#fecha_entrada").val()!=""){
                    var tiempo = $("#tiempo_estadia").val(),
                    fecha1 = $("#fecha_entrada").val();

                    $("#fecha_salida").val(sumaFecha(tiempo,fecha1)); 
                }
                else{
                    alert("Asegurese de haber llenado el campo de fecha de entrada");
                    $("#tiempo_estadia").val("");
                }
            })
    </script>
{% endblock %}