{% extends 'base/base.html'%}
{% block tipo_accion %}Actualizar datos de la reserva {% endblock %}
{% block content %} 
<form method='POST'>
        <!-- token de seguridad obligatorio-->
		<!-- se pinte el formulario como parrafo-->
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="boton" > Actualizar </button>
</form>
{% endblock %}

{% block js %}
    
    <script>
        //configuracion español datepicker
           $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '< Ant',
                nextText: 'Sig >',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
                $.datepicker.setDefaults($.datepicker.regional['es']);
                $(function () {
                   //se pinta el calendario para cada campo
                    $( "#fecha_entrada" ).datepicker({
                        dateFormat: 'dd/mm/yy',
                        changeYear: true,
                        yearRange: "-100:+0",
                    });
                    $( "#fecha_salida" ).datepicker({
                        dateFormat: 'dd/mm/yy',
                        changeYear: true,
                        yearRange: "-100:+0",
                    });
                });
    </script>
{% endblock %}