{% extends 'base/base.html'%}
{% block tipo_accion %}<center>Lista de Reservas</center>{% endblock %}
{% block content %} 
    <table class="table borde_tabla">
    <thead>
        <tr class="centrado_celda">
            <td><strong><h3>#</h3></strong></td>
            <td><strong><h3>Tipo de reserva</h3></strong></td>
            <td><strong><h3>Nombre del perro</h3></strong></td>
            <td><strong><h3>Raza del perro</h3></strong></td>
            <td><strong><h3>Fecha de entrada</h3></strong></td>
            <td><strong><h3>Fecha de salida</h3></strong></td>
            <td><strong><h3>Tiempo de estadía (días)</h3></strong></td>
            <td><strong><h3>Precio proximado</h3></strong></td>
            <td><strong><h3>Acciones</h3></strong></td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for reserva in object_list %}
        <tr class="centrado_celda">
            <td>{{ reserva.id }}</td>
            <td>{{ reserva.tipo_reserva }}</td>
            <td>{{ reserva.perro.nombre }}</td>
            <td>{{ reserva.perro.id_raza.nombre }}</td>
            <td>{{ reserva.fecha_entrada }}</td>
            <td>{{ reserva.fecha_salida }}</td>
            <td>{{ reserva.tiempo_estadia }}</td>
            <td>{{ reserva.precio_aproximado }}</td>
            <td>
			<!-- se coloca un link hacia la url donde se realiza la acción de editar y se manda como parámetro el id del acudiente-->
                <a class ="btn btn-primary" href="{% url 'reserva:actualizar_reserva' reserva.id%}">Editar</a>
			<!-- se coloca un link hacia la url donde se realiza la acción de eliminar y se manda como parámetro el id del acudiente-->
                <a class ="btn btn-danger" href="{% url 'reserva:eliminar_reserva' reserva.id%}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
            <h1>No hay registros de reservas</h1>
        {% endif %}
    </tbody>
</table>
{% endblock %}