/**
 Archivo donde se crean estilos personalizados CSS
*/
.boton_personalizado{
    text-decoration: none;
    padding: 5px;
    color: #ffffff;
    background-color: #2284E4;
    border: 1px solid white;
}
.boton_personalizado:hover{
    text-decoration: none;
    padding: 5px;
    color: #ffffff;
    background-color: #2284E4;
    border: 1px solid white;
}
#contenedor{
    background-color: black;
}

html,body{
    height: 100%;
    width: 100%;
}

.borde_tabla tr,
.borde_tabla td {
    border: 1px solid black;
}

.centrado_celda td
{
    text-align: center;
}

label{
    font-size: 20px;
}