/**
 Archivo donde se crean estilos personalizados CSS
*/
#contenedor{
    background-color: black;
}

html,body{
    height: 100%;
    width: 100%;
}

.borde_tabla tr,
.borde_tabla td {
    border: 1px solid black;
}

.centrado_celda td
{
    text-align: center;
}

label{
    font-size: 20px;
}