{% extends 'base/base.html'%}
{% load staticfiles %}
{% block tipo_accion %}Actualizar datos del perro {% endblock %}
{% block content %} 
<form method='POST'>
        <!-- token de seguridad obligatorio-->
		<!-- se pinte el formulario como parrafo-->
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="boton" > Actualizar </button>
</form>
{% endblock %}
{% block js %}
    <script src="{% static 'js/validarActualizacionPerro.js'%}"></script>
    <script>
    $("#nivel").after("<button> <a href='{% url 'perro:registrar_nivel_personalizado'%}'> Agregar Nivel Personalizado </a> </button>");
    $("#veterinario").after("<button> <a href='{% url 'perro:registrar_veterinario'%}'> Agregar Veterinario </a></button>");
    $("#horario_dieta").after("<button> <a href='{% url 'perro:registrar_dieta'%}'> Agregar Dieta </a> </button>");
    $("#padre").after("<button> <a href='{% url 'perro:registrar_padre'%}'> Agregar Padre </a> </button>");
    $("#madre").after("<button> <a href='{% url 'perro:registrar_madre'%}'> Agregar Madre </a> </button>");
    $("#suplemento").after("<button><a href='{% url 'perro:registrar_suplemento'%}'> Agregar Suplemento </a> </button>");
    event.preventDefault();
    </script>
{% endblock %}