{% extends 'base/base.html'%}
{% block tipo_accion %}<center>Lista de perros</center>{% endblock %}
{% block content %} 
    <div style="overflow-x:scroll;">
    <table class="table borde_tabla">
    <thead>
        <tr class="centrado_celda">
            <td><strong><h3>#</h3></strong></td>
            <td><strong><h3>Nombre del perro</h3></strong></td>
            <td><strong><h3>Acudiente del perro</h3></strong></td>
            <td><strong><h3>Fecha de nacimiento</h3></strong></td>
            <td><strong><h3>Edad</h3></strong></td>
            <td><strong><h3>Sexo</h3></strong></td>
            <td><strong><h3>Raza</h3></strong></td>
            <td><strong><h3>Peso</h3></strong></td>
            <td><strong><h3>Estado de salud</h3></strong></td>
            <td><strong><h3>Fecha desparasitación</h3></strong></td>
            <td><strong><h3>Época de celo real</h3></strong></td>
            <td><strong><h3>Época de celo aproximada</h3></strong></td>
            <td><strong><h3>Observaciones de servicio</h3></strong></td>
            <td><strong><h3>Color</h3></strong></td>
            <td><strong><h3>Horario dieta</h3></strong></td>
            <td><strong><h3>Estado perruno</h3></strong></td>
            <td><strong><h3>Tamaño</h3></strong></td>
            <td><strong><h3>Nombre veterinario</h3></strong></td>
            <td><strong><h3>Nombre y raza padre</h3></strong></td>
            <td><strong><h3>Nombre y raza madre</h3></strong></td>
            <td><strong><h3>Nivel de entrenamiento</h3></strong></td>
            <td><strong><h3>Ejercicios adiestramiento</h3></strong></td>
            <td><strong><h3>Vacunas</h3></strong></td>
            <td><strong><h3>Suplementos</h3></strong></td>
            <td><strong><h3>Acciones</h3></strong></td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for perro in object_list %}
        <tr class="centrado_celda">
            <td>{{ perro.id }}</td>
            <td>{{ perro.nombre }}</td>
            <td>{{ perro.id_acudiente.nombre }}</td>
            <td>{{ perro.fecha_nacimiento }}</td>
            <td>{{ perro.edad }}</td>
            <td>{{ perro.sexo }}</td>
            <td>{{ perro.id_raza.nombre }}</td>
            <td>{{ perro.peso }}</td>
            <td>{{ perro.estado_salud }}</td>

            {% if perro.fecha_desparasitacion %}
                <td>{{ perro.fecha_desparasitacion }}</td>
            {% else %}
                <td>Desconocida</td>
            {% endif %}

            {% if perro.epoca_celo_real %}
                <td>{{ perro.epoca_celo_real }}</td>
                <td>{{ perro.epoca_celo_aproximada }}</td>
            {% else %}
                <td> Ninguna </td>
                <td> Ninguna </td>
            {% endif %}

            {% if perro.condiciones_prestamo %}
                <td style="overflow-y:scroll; height:100; white-space:nowrap;">{{ perro.condiciones_prestamo }}</td>
            {% else %}
                <td> Ninguna </td>
            {% endif %}

            <td>{{ perro.id_color.nombre }}</td>

            <td style="overflow-y:scroll; height:100; white-space:nowrap;">
                {% for iterador in perro.horario_dieta.all %}
                    {{ iterador.id_dia.nombre }} - {{ iterador.id_alimentacion.nombre }} 
                {% endfor %}
            </td>

            <td>{{ perro.id_estado_perruno.nombre }}</td>
            <td>{{ perro.id_tamanio }}</td>
            {% if  perro.id_veterinario %}
            <td>{{ perro.id_veterinario.nombre }}</td>
            {% else %}
            <td> Ninguno </td>
            {% endif %}

            {% if  perro.id_padre %}
            <td>{{ perro.id_padre }} - {{perro.id_padre.id_raza}}</td>
            {% else %}
            <td> Desconocido </td>
            {% endif %}
            {% if  perro.id_madre %}
            <td>{{ perro.id_madre }} - {{perro.id_padre.id_raza}}</td>
            {%else%}
            <td> Desconocida </td>
            {% endif %}
            <td>{{ perro.id_nivel_entrenamiento.nombre }}</td>
            <td>
                {% if  perro.id_nivel_entrenamiento.ejercicios.all %}
                {% for iterador in perro.id_nivel_entrenamiento.ejercicios.all %}
                    {{ iterador.nombre }} 
                {% endfor %}
                {% else %}
                 Ninguno
                {% endif %}
            </td>
            <td>
                {% if  perro.vacuna.all %}
                {% for iterador in perro.vacuna.all %}
                    {{ iterador.nombre }} 
                {% endfor %}
                {% else %}
                 Ninguna
                {% endif %}
            </td>
            <td>
                {% if  perro.suplemento.all %}
                {% for iterador in perro.suplemento.all %}
                    {{ iterador.nombre }} 
                {% endfor %}
                {% else %}
                 Ninguna
                {% endif %}
            </td>
            <td>
			<!-- se coloca un link hacia la url donde se realiza la acción de editar y se manda como parámetro el id del acudiente-->
                <a class ="btn btn-primary" href="{% url 'perro:actualizar_perro' perro.id%}">Editar</a>
            </br>
            </br>
			<!-- se coloca un link hacia la url donde se realiza la acción de eliminar y se manda como parámetro el id del acudiente-->
                <a class ="btn btn-danger" href="{% url 'perro:eliminar_perro' perro.id%}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
            <h1>No hay registros de perros</h1>
        {% endif %}
    </tbody>
</table>
    </div>
{% endblock %}
