{% extends 'base/base.html'%}
{% block tipo_accion %}Lista de perros{% endblock %}
{% block content %} 
    <div style="overflow-x:scroll;">
    <table class="table table-bordered">
    <thead>
        <tr>
            <td><strong>#</strong></td>
            <td><strong>Nombre</strong></td>
            <td><strong>Fecha de nacimiento</strong></td>
            <td><strong>Edad</strong></td>
            <td><strong>Sexo</strong></td>
            <td><strong>Raza</strong></td>
            <td><strong>Peso</strong></td>
            <td><strong>Estado de salud</strong></td>
            <td><strong>Fecha desparasitación</strong></td>
            <td><strong>Época de celo real</strong></td>
            <td><strong>Época de celo aproximada</strong></td>
            <td><strong>Condiciones de préstamo</strong></td>
            <td><strong>Color</strong></td>
            <td><strong>Horario dieta</strong></td>
            <td><strong>Estado perruno</strong></td>
            <td><strong>Tamaño</strong></td>
            <td><strong>Nombre veterinario</strong></td>
            <td><strong>Nombre y raza padre</strong></td>
            <td><strong>Nombre y raza madre</strong></td>
            <td><strong>Nivel de entrenamiento</strong></td>
            <td><strong>Nombre acudiente</strong></td>
            <td><strong>Suplementos</strong></td>
            <td><strong>Vacunas</strong></td>
            <td><strong>Acciones</strong></td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for perro in object_list %}
        <tr>
            <td>{{ perro.id }}</td>
            <td>{{ perro.nombre }}</td>
            <td>{{ perro.fecha_nacimiento }}</td>
            <td>{{ perro.edad }}</td>
            <td>{{ perro.sexo }}</td>
            <td>{{ perro.id_raza.nombre }}</td>
            <td>{{ perro.peso }}</td>
            <td>{{ perro.estado_salud }}</td>
            {% if perro.fecha_desparasitacion %}
            <td>{{ perro.fecha_desparasitacion }}</td>
            {% else %}
            <td>Desconocida</td>
            {% endif %}
            {% if perro.epoca_celo_real %}
            <td>{{ perro.epoca_celo_real }}</td>
            <td>{{ perro.epoca_celo_aproximada }}</td>
            {% else %}
            <td> Ninguna </td>
            <td> Ninguna </td>
            {% endif %}
            {% if perro.condiciones_prestamo %}
            <td style="overflow-y:scroll">{{ perro.condiciones_prestamo }}</td>
            {% else %}
            <td> Ninguna </td>
            {% endif %}
            <td>{{ perro.id_color.nombre }}</td>
            <td style="overflow-y:scroll">
                
                {% for iterador in perro.horario_dieta.all %}
                    {{ iterador.id_dia.nombre }} - {{ iterador.id_alimentacion.nombre }} 
                {% endfor %}

            </td>
            <td>{{ perro.id_estado_perruno.nombre }}</td>
            <td>{{ perro.id_tamanio }}</td>
            {% if  perro.id_veterinario %}
            <td>{{ perro.id_veterinario.nombre }}</td>
            {% else %}
            <td> Ninguno </td>
            {% endif %}

            {% if  perro.id_padre %}
            <td>{{ perro.id_padre }} - {{perro.id_padre.id_raza}}</td>
            {% else %}
            <td> Desconocido </td>
            {% endif %}
            {% if  perro.id_madre %}
            <td>{{ perro.id_madre }} - {{perro.id_padre.id_raza}}</td>
            {%else%}
            <td> Desconocida </td>
            {% endif %}
            <td>{{ perro.id_nivel_entrenamiento.nombre }}</td>
            <td>{{ perro.id_acudiente.nombre }}</td>
            <td>
                {% if  perro.vacuna.all %}
                {% for iterador in perro.vacuna.all %}
                    {{ iterador.nombre }} 
                {% endfor %}
                {% else %}
                 Ninguna
                {% endif %}
            </td>
            <td>
                {% if  perro.suplemento.all %}
                {% for iterador in perro.suplemento.all %}
                    {{ iterador.nombre }} 
                {% endfor %}
                {% else %}
                 Ninguna
                {% endif %}
            </td>
            <td>
			<!-- se coloca un link hacia la url donde se realiza la acción de editar y se manda como parámetro el id del acudiente-->
                <a class ="btn btn-primary" href="{% url 'perro:actualizar_perro' perro.id%}">Editar</a>
			<!-- se coloca un link hacia la url donde se realiza la acción de eliminar y se manda como parámetro el id del acudiente-->
                <a class ="btn btn-danger" href="{% url 'perro:eliminar_perro' perro.id%}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
            <h1>No hay registros de perros</h1>
        {% endif %}
    </tbody>
</table>
    </div>
{% endblock %}
