{% extends 'base/base.html'%}

{% block tipo_accion %}<center>Registro Madre</center>{% endblock %}

{% block content %} 
<div style="width:600px; margin-left:467px;">
    </br>
    <form method='POST'>
            <!-- token de seguridad obligatorio-->
            <!-- se pinte el formulario como parrafo-->
            {% csrf_token %}
                {{ form.as_p }}
            <center><button type="submit" id="boton" style="font-size:20px"> Registrar </button></center>
    </form>
</div>
{% endblock %}