{% extends 'base/base.html'%}
{% load staticfiles %}
{% block tipo_accion %}<center>Registro de Dieta</center>{% endblock %}

{% block content %} 
<div style="width:600px; margin-left:467px;">
    </br>
    <form method='POST'>
            <!-- token de seguridad obligatorio-->
            <!-- se pinte el formulario como parrafo-->
            {% csrf_token %}
                {{ form.as_p }}
            <center><button type="submit" id="boton" style="font-size:20px"> Registrar </button></center>
    </form>
 </div>   

{% endblock %}

{% block js %}
    <script src="{% static 'js/validarRegistroDieta.js'%}"></script>
    <script>
    $("#alimentacion").after("<a class='boton_personalizado' href='{% url 'perro:registrar_alimentacion'%}'> Agregar Nueva Alimentacion </a>");    
    $("#btnalimentacion").children("a").css('color',"white");
    </script>
{% endblock %}