{% extends 'base/base.html'%}
{% block tipo_accion %}Registro de acudientes{% endblock %}
{% block content %} 
    <table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Dirección</td>
            <td>Teléfono</td>
            <td>E-Mail</td>
            <td>Alias</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for acudiente in object_list %}
        <tr>
            <td>{{ acudiente.id }}</td>
            <td>{{ acudiente.nombre }}</td>
            <td>{{ acudiente.direccion }}</td>
            <td>{{ acudiente.telefono }}</td>
            <td>{{ acudiente.email }}</td>
            <td>{{ acudiente.alias }}</td>
            <td>
			<!-- se coloca un link hacia la url donde se realiza la acción de editar y se manda como parámetro el id del acudiente-->
                <a class ="btn btn-primary" href="{% url 'acudiente:actualizar_acudiente' acudiente.id%}">Editar</a>
			<!-- se coloca un link hacia la url donde se realiza la acción de eliminar y se manda como parámetro el id del acudiente-->
                <a class ="btn btn-danger" href="{% url 'acudiente:eliminar_acudiente' acudiente.id%}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
            <h1>No hay registros de acudientes</h1>
        {% endif %}
    </tbody>
</table>
{% endblock %}
