{% extends 'base/base.html'%}
{% block tipo_accion %}<center>Lista de acudientes</center>{% endblock %}
{% block content %} 
    <table class="table borde_tabla">
    <thead>
        <tr class="centrado_celda">
            <td><strong><h3>Nombre Completo</h3></strong></td>
            <td><strong><h3>Dirección</h3></strong></td>
            <td><strong><h3>Teléfono</h3></strong></td>
            <td><strong><h3>E-Mail</h3></strong></td>
            <td><strong><h3>Alias</h3></strong></td>
            <td><strong><h3>Acciones</h3></strong></td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for acudiente in object_list %}
        <tr class="centrado_celda">
            <td>{{ acudiente.nombre }}</td>
            <td>{{ acudiente.direccion }}</td>
            <td>{{ acudiente.telefono }}</td>
            {% if acudiente.email %}
                <td>{{ acudiente.email }}</td>
            {% else %}
                <td> Desconocido </td>
            {% endif %}

            {% if acudiente.alias %}
                <td>{{ acudiente.alias }}</td>
            {% else %}
                <td> No definido </td>
            {% endif %}
            <td>
			<!-- se coloca un link hacia la url donde se realiza la acción de editar y se manda como parámetro el id del acudiente-->
                <a class ="btn btn-primary" href="{% url 'acudiente:actualizar_acudiente' acudiente.id%}">Editar</a>
			<!-- se coloca un link hacia la url donde se realiza la acción de eliminar y se manda como parámetro el id del acudiente-->
                <a class ="btn btn-danger" href="{% url 'acudiente:eliminar_acudiente' acudiente.id%}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
            <h1>No hay registros de acudientes</h1>
        {% endif %}
    </tbody>
</table>
{% endblock %}
