{% extends 'base/base.html'%}
{% load staticfiles %}
{% block navbar%}
{% endblock %}

{% block content%}
</br>
</br>
<span id="imagen" >
    <img src="{% static 'img/huellita.png'%}" style="width:100px; height:100px; margin-left: 710px">
</span>
</br>
</br>
<div id="login" style="border:2px solid grey; border-radius:5px; width:600px; height:337px; margin-left:467px; margin-top: 8px; margin-bottom: 5px;">
    <form method="post">
        {% if flag %}
            <script> alert ("Usuario o contraseña incorrectos"); </script>
        {% endif %}
        <h2><center><strong>Inicio de sesión</strong></center></h2>
        </br>
        </br>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="username">Nombre de usuario:</label>
                    <input class="form-control" type="text" name="username" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input class="form-control" type="password" name="password" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <center><input class="btn btn-primary" style="font-size:20px" type="submit" value="Ingresar"></center>
                </div>
            </div>
        </div>
    </br>
    </form>
</div>
{% endblock %}
{% block footer %}
{% endblock %}