{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js"> 
<html lang="en">

<head>
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" type="image/png" href="{% static 'img/icons/icon.PNG'%}" />
	<title>Centro canino de servicios integrales DHS</title>


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="{% static 'css/custom.css'%}" rel="stylesheet">

    <!-- Custom Fonts & Icons -->
	<link rel="stylesheet" href="{% static 'css/icomoon-social.css'%}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">

	{% block css %}
	{% endblock %}
</head>

    <body>
		{% block navbar%}
    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a class="navbar-brand" href="{% url 'main:index'%}"><img src="{% static 'img/logo.png'%}" alt="Basica"></a>
                <!--<a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="Basica"></a> -->
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{% url 'main:index'%}">Inicio</a></li>
                    <li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">Acudiente<i class="icon-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'acudiente:registrar_acudiente'%}">Registrar</a></li>
							<li><a href="{% url 'acudiente:listar_acudiente'%}">Listar</a></li>
						</ul>
					</li>
                    <li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">Perro<i class="icon-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'perro:registrar_perro'%}">Registrar</a></li>
							<li><a href="#">Listar</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">Recursos<i class="icon-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="#">Registrar</a></li>
							<li><a href="#}">Listar</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">Reservas<i class="icon-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="#">Crianza</a></li>
							<li><a href="#">Guarderia</a></li>
							<li><a href="#">Adiestramiento</a></li>
						</ul>
					</li>
					<li class="active"><a href="{% url 'logout' %}">Salir</a></li>
                </ul>
            </div>
        </div>
    </header>
	<!--/header-->

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{% block tipo_accion %} {% endblock %}</h1>
					</div>
				</div>
			</div>
		</div>
    {% endblock %}    
        <div>
			{% block content%}
			{% endblock %}
		</div>
	{% block footer %}
	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
			
		    	<div class="row">
				
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Contáctenos:</h3>
		    			<p class="contact-us-details">
	        				<b>Direccion:</b> via la tebaida<br/>
	        				<b>Teléfono:</b> <br/>
	        				<b>Email:</b> <a href="mailto:info@yourcompanydomain.com">info@yourcompanydomain.com</a>
	        			</p>
		    		</div>				
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Nuestras redes sociales</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
		    			<div>
							<!--
		    				<img src="img/icons/facebook.png" width="32" alt="Facebook">
		    				<img src="img/icons/twitter.png" width="32" alt="Twitter">
		    				<img src="img/icons/linkedin.png" width="32" alt="LinkedIn">
							<img src="img/icons/rss.png" width="32" alt="RSS Feed">
							-->
						</div>
		    		</div>
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Acerca del centro</h3>
		    				<p>El centro canino de servicios integrales DHS ofrece distintos servicios enfocados en el cuidado, manutención, enseñanza y recreación de caninos</p>
		    		</div>

		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<!--<div class="footer-copyright">&copy; 2014 <a href="http://www.vactualart.com/portfolio-item/basica-a-free-html5-template/">Basica</a> Bootstrap HTML Template. By <a href="http://www.vactualart.com">Vactual Art</a>.</div> -->
		    		</div>
		    	</div>
		    </div>
	    </div>
		{% endblock %}

        <!-- Javascripts -->
		<script src="{% static 'js/jquery-1.12.4.js'%}"></script>
		<script src="{% static 'js/jquery-ui.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
		{% block js %}  
		
		{% endblock %}
    </body>
</html>